<!DOCTYPE html>
<html>
  <head>
    <title>Chat Room</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Chat Room</h1>
    <p>Please be kind.</p>
  </body>
</html>
