<!DOCTYPE html>
<html>
  <head>
    <title>Chat Room</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the Chat Room</h1>
    <p>Please be kind.</p>

    <section id="chat-area">
      <ul>
        
      </ul>
    </section>

    <div>Username:<input type="text" id="username"></div>
    <div>Message:<textarea name="message" id="message" cols="30" rows="10"></textarea></div>
    <div><button id="submit-btn">Send</button></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
