body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {
  height: 50vmin;
  overflow: scroll;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

div {
  padding: 1vmin;
  display: flex;
  justify-content: center;
}